@import url('https://fonts.googleapis.com/css2?family=Notable&family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* RESET */
* {
    margin: 0;
    padding: 0;
}
*:hover {
    cursor: default;
}
body {
    width: 100vw;
    background-color: rgb(16,16,16);
    background-image: url(/assests/bg-fade.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -25px;
}
body > img {
    position: absolute;
    top: -440px;
    height: 100%;
    width: auto;
    opacity: 0.4;
}
/* HEADER */
header {
    position: absolute;
    width: 100vw;
    margin-top: -50px;
    z-index: 2;
    mix-blend-mode: difference;
}
.title {
    color: white;
    text-align: center;
    font-style: italic;
    opacity: 0.75;
}
.title > .ninethree {
    font-family: 'Notable', sans-serif;
    font-size: 10rem;
}
.title > .driveart {
    font-family: 'Nova Slim', cursive;
    font-size: 3rem;
}
/* SWIPER INIT */
.swiper-container, .swiper-slide {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* COVER  */
#cover {
    background-image: url(/assests/page-one-bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
#cover > .preview {
    position: absolute;
    bottom: 30px;
    left: 7vw;
    width: 336px;
    transition: 0.5s;
}
#cover > .preview:hover {
    opacity: 1;
}
.preview > p {
    margin-bottom: 7px;
    text-shadow: 1px 1px 0.5px black;
    text-align: justify;
    opacity: 0.9;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: lighter;
}
.preview > img {
    width: 166px;
    opacity: 0.9;
}
.preview > .sub-text {
    text-align: right;
    font-style: italic;
    font-size: 14px;
    opacity: 0.8;
}
/* PAGES ONE THREE FOUR */
.page-one-container, .page-three-container, .page-four-container {
    height: 80vh;
    width: 70vw;
    margin: 0 auto;
    z-index: 5;
    margin-top: 140px;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.page-one-text-container, .page-three-text-container, .page-four-text-container {
    justify-self: center;
    align-self: center;
}
.page-one-text-container > p, .page-three-text-container > p, .page-four-text-container {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: lighter;
}
.page-one-text-container > h1, .page-four-text-container > h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 48px;
    text-shadow: 4px 4px 1px rgba(65,105,225,1); 
}
.page-one-container > img, .page-two-container > img, .page-three-container > img, .page-four-container > img {
    height: auto;
    width: 450px;
    justify-self: center;
    align-self: center;
    box-shadow: 6px 6px 18px rgba(65,105,225,0.6); 
}
/* PAGE TWO */
#page-two {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-two-container > img {
    height: auto;
    width: 65vw;
    margin-top: 120px;
}
.page-two-container > p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
    opacity: 0.6;
}
/* PAGE FOUR */
.page-four-text-container > h1 {
    line-height: 40px;
}
.page-four-text-container > .p-right-align {
    text-align: right;
}