@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=El+Messiri:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    background-color: rgb(0,0,20);

    body {
        height: 100%;
        width: 100%;
        font-family: helvetica;
        font-weight: bold;
        font-style: italic;
        color: white;
    }

}

#canvas {
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 0.9;
}

.frame {
    position: absolute;
    top: 0;
    left: 1vw;
    color: white;
    font-size: 2rem;
    font-family: 'DM Serif Text', serif;
    font-style: normal;
    transform: skew(15deg);
    opacity: 0.2;
    mix-blend-mode: exclusion;
    line-height: 1.5rem;
    .up-and-down {
        font-size: 1.85rem;
    }
}

#container {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        scroll-snap-align: start;
    }
}

.section-one {
    .swiper-container {
        height: 100vh;
        width: 100vw;
        z-index: 0;
        mix-blend-mode: multiply;
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .slide-two {
                .slide-two-info {
                    position: absolute;
                    left: 3vw;
                    bottom: 5vh;
                    font-size: 1rem;
                    opacity: 0.5;
                }
                .slide-two-image-one {
                    position: absolute;
                    left: 15vw;
                    height: 90%;
                    width: auto;
                    mix-blend-mode: exclusion;
                }
                .slide-two-image-two {
                    position: absolute;
                    right: 5vw;
                    bottom: 10vh;
                    height: 60%;
                    width: auto;
                    text-align: right;
                    mix-blend-mode: difference;
                }
            }
            .slide-three {
                .slide-three-image-one {
                    position: absolute;
                    right: 22vw;
                    top: 5vh;
                    width: auto;
                    height: 80%;
                    mix-blend-mode: difference;
                }
                .slide-three-image-two {
                    position: absolute;
                    left: 12vw;
                    bottom: 5vh;
                    width: auto;
                    height: 80%;
                    mix-blend-mode: difference;
                }
            }
        }
    }
}

.section-one {
    img {
        display: inline-block;
        position: absolute;
        height: 80vh;
        opacity: 0.9;
    }
    .about {
        position: absolute;
        bottom: 8vh;
        right: 20vw;
        font-family: 'DM Serif Text', serif;
        font-style: normal;
        font-weight: bold;
        transform: skew(-25deg);
        font-size: 3rem;
        mix-blend-mode: exclusion;
        opacity: 0.9;
        p {
            display: inline-block;
        }
        p:hover {
            color: hotpink;
            cursor: default;
        }
        line-height: 2.5rem;
        .line-one {
            font-size: inherit;
        }
        .line-two {
            font-size: 3.21rem;
        }
        .line-three {
            font-size: 4.47rem;
            margin-top: 0.45rem;
        }
        .line-four {
            font-size: 3.95rem;
            margin-top: 0.26rem;
        }
    }
}

.section-two {
    .column {
        width: 45vw;
        img {
            max-height: 100%;
            margin: -2.5rem 0;
            opacity: 0.99;
            mix-blend-mode: difference;
            z-index: 0;
        }
    }
    .section-two-image-one {
        position: relative;
        left: 4vw;
    }
    .section-two-image-two {
        position: relative;
        right: 2vw;
    }
}

.section-two-info, .section-three-info {
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgba(0,0,20,0.6);
    opacity: 0.9;
    span {
        font-family: 'DM Serif Text', serif;
        opacity: 0.8;
        color: royalblue;
        font-size: 3.4rem;
        text-shadow: 1px 1px 0px rgba(0,0,10,0.6);
    }
    a {
        text-decoration: none;
        font-family: 'DM Serif Text', serif;
        color: royalblue;
        transform: skew(15deg);
    }
}

.section-three-info {
    transform: skew(-15deg);
    font-style: normal;
}