* {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    background-color: black;

    body {
        height: 100%;
        width: 100%;

    }

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    canvas {
        mix-blend-mode: difference;
    }
    img {
        display: inline-block;
        position: absolute;
        height: 80vh;
        z-index: -1;
    }
    h1 {
        display: none;
        color: white;
        position: absolute;
    }
}