@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=El+Messiri:wght@700&display=swap');
@import 'mediaQueries';
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    background-color: rgb(0,0,20);
    body {
        height: 100%;
        width: 100%;
        font-family: helvetica;
        font-weight: bold;
        font-style: italic;
        color: white;
    }
}
.love {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(11, 11, 11);
    z-index: 99;
    h1 {
		background-color: rgb(0, 0, 0);
		color: transparent;
		font-size: 15rem;
		text-shadow: 
			0.30rem 0.30rem 0.40rem rgb(16, 16, 16);
		-webkit-background-clip: text;
		-moz-background-clip: text;
        background-clip: text;
        cursor: default;
        @include responsive(phone){
            font-size: 4rem;
        }
    }
}
.love.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        display: none;
        z-index: -99;
    }
}
#canvas {
    position: fixed;
    z-index: 0;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    @include responsive(phone){
        width: 200px;
    }
}
.frame {
    position: absolute;
    top: 0.2vh;
    left: 1vw;
    color: white;
    font-size: 2rem;
    font-family: 'DM Serif Text', serif;
    font-style: normal;
    transform: skew(15deg);
    opacity: 0.2;
    mix-blend-mode: exclusion;
    line-height: 1.5rem;
    @include responsive(phone){
        font-size: 1.5rem;
        line-height: 1.2rem;
    }
    .up-and-down {
        font-size: 1.85rem;
        @include responsive(phone){
            font-size: 1.4rem;
        }
    }
}
#container {
    width: 100vw;
    height: 100vh;
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        scroll-snap-align: start;
    }
}
.section-one {
    .swiper-container {
        height: 100vh;
        width: 100vw;
        z-index: 0;
        mix-blend-mode: exclusion;
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .slide-one {
                @include responsive(phone){
                    img {
                        height: 100vh;
                    }
                }
            }
            .slide-two {
                .slide-two-image-one {
                    position: absolute;
                    left: 15vw;
                    height: 90%;
                    width: auto;
                    mix-blend-mode: exclusion;
                    @include responsive(phone){
                        position: static;
                        height: 100vh;
                    }
                }
                .slide-two-image-two {
                    position: absolute;
                    right: 5vw;
                    bottom: 10vh;
                    height: 60%;
                    width: auto;
                    text-align: right;
                    mix-blend-mode: difference;
                    @include responsive(phone){
                        display: none;
                    }
                }
            }
            .slide-three {
                .slide-three-image-one {
                    position: absolute;
                    right: 22vw;
                    top: 5vh;
                    width: auto;
                    height: 80%;
                    mix-blend-mode: difference;
                    @include responsive(phone){
                        position: static;
                        height: 100vh;
                    }
                }
                .slide-three-image-two {
                    position: absolute;
                    left: 12vw;
                    bottom: 5vh;
                    width: auto;
                    height: 80%;
                    mix-blend-mode: difference;
                    @include responsive(phone){
                        display: none;
                    }
                }
            }
        }
    }
}
.section-one {
    img {
        display: inline-block;
        position: absolute;
        height: 80vh;
        opacity: 0.9;
    }
    .about {
        position: absolute;
        bottom: 8vh;
        right: 20vw;
        font-family: 'DM Serif Text', serif;
        font-style: normal;
        font-weight: bold;
        transform: skew(-25deg);
        font-size: 3rem;
        mix-blend-mode: exclusion;
        opacity: 0.9;
        p {
            display: inline-block;
        }
        p:hover {
            color: hotpink;
            cursor: default;
        }
        line-height: 2.5rem;
        .line-one {
            font-size: inherit;
        }
        .line-two {
            font-size: 3.21rem;
        }
        .line-three {
            font-size: 4.47rem;
            margin-top: 0.45rem;
        }
        .line-four {
            font-size: 3.95rem;
            margin-top: 0.26rem;
        }
        @include responsive(phone){
            line-height: 0.8rem;
            display: block;
            text-align: center;
            .line-one {
                font-size: 1.5rem;
            }
            .line-two {
                font-size: 1.58rem;
            }
            .line-three {
                font-size: 2.22rem;
                margin-top: 0.85rem;
            }
            .line-four {
                font-size: 1.95rem;
                margin-top: 0.9rem;
            }
        }
    }
}
.section-two {
    @include responsive(phone){
        width: 100vw;
        overflow: hidden;
    }
    .column {
        width: 46vw;
        img {
            max-height: 100%;
            margin: -2.5rem 0;
            opacity: 0.99;
            mix-blend-mode: difference;
            z-index: 0;
        }
    }
    .section-two-image-one {
        position: relative;
        left: 4vw;
        @include responsive(phone){
            display: none;
        }
    }
    .section-two-image-two {
        position: relative;
        right: 2vw;
        @include responsive(phone){
            position: relative;
            height: 100vh;
            left: -70vw;
        }
    }
}
.section-two-info, .section-three-info {
    font-size: 2.5rem;
    text-shadow: 3px 3px 5px rgba(0,0,20,0.6);
    opacity: 0.9;
    span {
        font-family: 'DM Serif Text', serif;
        opacity: 0.9;
        color: royalblue;
        font-size: 2.7rem;
        text-shadow: 1px 1px 0px rgba(0,0,10,0.6);
        @include responsive(tab-port){
            font-size: 2.2rem;
        }
        @include responsive(phone){
            font-size: 1.1rem;
        }
    }
    a {
        text-decoration: none;
        font-family: 'DM Serif Text', serif;
        color: royalblue;
        transform: skew(15deg);
    }
    @include responsive(tab-port){
        font-size: 2rem;
    }
    @include responsive(phone){
        font-size: 1rem;
    }
}
@include responsive(phone){
    .section-two-info {
        width: 80vw;
        position: relative;
        right: 40vw;
        top: 25vh;
    }
}
.section-three-info {
    transform: skew(-15deg);
    font-style: normal;
    mix-blend-mode: exclusion;
    z-index: 1;
    @include responsive(phone){
        transform: skew(0deg)
    }
}
